@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html, body, #root { height: 100%; }

body { @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100; }

.container { @apply mx-auto px-4; }